body{
    background: url(images/fondo-nubes.jpg); 
}
.encabezado{
    margin: 2%;
    font-family:fantasy ;  
    
}
.encabezado>label{
    color: dimgrey;
    font-size: 4rem;
   display: block;
   text-align: center;
   margin-top: 20px;
   

}
.logo{
    width: auto;
}
.options{
    width: 100%;
    margin-top: 20%;
}
.button-start{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 1em 2em;
    font-family: fantasy;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.button-start:hover{
    background-color: darksalmon;
    transform: scale(1.2);
}
.button-start:active{
    background-color: darksalmon;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}
.button-add-word{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding: 1em 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.button-add-word:hover{
    background-color:darkseagreen;
    transform: scale(1.2);
}
.button-add-word:active{
    background-color: darkseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.draw  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerLetters{
    align-items: center;
    text-align: center;
    margin: 7% 0 0 0 ;
}
.hidden{
    color: transparent;
}
#wordContainer{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    
}
#usedLetters{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-size: 2rem;
    margin-top: 2%;
    font-weight: bold;
   
}
.letter{
    margin: 0 5%;
    text-align: center;
    font-size: 2rem;
    position: relative;
}
.letter::after{
    text-align: center;
    content: '';
    display:block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #666;
    min-width: 2rem;
}
.buttons{
    
    text-align: center;
    margin: 1% ;
    padding:  0;
}
.cont-buttons{
    margin: 100px 0;
    padding: 10%;
}

.buttons>input{
    font-size: 1rem;
    padding: 1em 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 20px ;
    transition: 1s all;
   
}
.button-new-game:hover{
    background-color: darksalmon;
    transform: scale(1.2);
}
.button-new-game:active{
    background-color: darksalmon;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.button-out:hover{
    background-color:darkseagreen;
    transform: scale(1.2);
}
.button-out:active{
    background-color: darkseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.button-save:hover{
    background-color: darksalmon;
    transform: scale(1.2);
}
.button-save:active{
    background-color: darksalmon;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.button-cancel:hover{
    background-color:darkseagreen;
    transform: scale(1.2);
}
.button-cancel:active{
    background-color: darkseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.input-word{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5% 0;
   
}
.word{
    position: relative;
    margin:50px 50px 0 50px;
    padding: 1%;
    border-style: none;
    width: 25%;
    transition: 1s all;
    font-size: 1rem;
    opacity: 0.5;
    
}

.word:hover{
    transform: scale(1.2);
}
.warning{
    width: 25%;
    display: block;
    margin: auto ;
    text-align: center;
    color: rgb(61, 60, 60);
    padding: 1%;

}
.imageContainer{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.animation{
   
    animation-duration: 2.5s;
    animation-name: animation-images;
    animation-iteration-count: infinite;
  }
  .keyboard>input{
   /* color: transparent;
    border:0;
    border-style: none;*/
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 29%;
    height: 12%;
    outline: none;

  }

@keyframes animation-images{
    from {
        -webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
        }
}

.copy{
    text-align: center;
    color:rgb(54, 55, 56);
    font-size: 1rem;
    margin: 100px;
}
@media screen and (max-width:800px){
    .copy{
        margin-top: 200px;
    }
    .options{
        width: 100%;
        margin-top: 200px;
    }
    .word{
        width: 50%;
        padding: 2%;
    }
    .cont-buttons{
        margin-top: 200px;
    }
    #wordContainer{
        width:100%;
        margin: 5px 1% 1%;
    }
    .buttons{
        margin-top: 100px;
    }
    .imageContainer{
        margin-top: 250px;
    }
}